doctype html
html
  head
    title CV : Anastasiia Shishova
  body.cv
    main.cv__content
      .cv__container
        .cv__column
          section.cv__section.cv__section--noheader.intro
            h2.visually-hidden Intro
            p.intro__name Name here
            p.intro__surname Surname
            p.intro__profession Graphic Designer
          section.cv__section.cv__section--profile
            h2.title.title--profile Profile
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
              | natoque penatibus et magnis dis parturient montes, nascetur
              | ridiculus mus. Donec quam felis, ultricies nec, pellentesque
              | eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
              | pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
              | In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
              | Nullam dictum felis eu <b>pede mollis pretium. Integer tincidunt.
              | Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
              | eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
              | eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
              | feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
              | Quisque rutrum.</b>
          section.cv__section.cv__section--contact
            h2.title.title--contact Contact
            .deftable
              .deftable__column
              .deftable__row
                p.deftable__cell.deftable__definition Address
                p.deftable__cell.deftable__value Main Street, City.
              .deftable__row
                p.deftable__cell.deftable__definition E-mail
                a.deftable__cell.deftable__value.link(href="mailto:contact@domain.com") contact@domain.com
              .deftable__row
                p.deftable__cell.deftable__definition Phone
                p.deftable__cell.deftable__value 555-555-555
              .deftable__row
                p.deftable__cell.deftable__definition Website
                a.deftable__cell.deftable__value.link(href="#") www.yourweb.com
          section.cv__section.cv__section--skills
            h2.title.title--skills Skills
            .range
              ul.range__list
                li.range__item
                  p.range__name Creative
                  input.range__scale.range__scale--dotted(type="range", min="0", max="100", value="75", disabled)
                li.range__item
                  p.range__name Teamwork
                  input.range__scale.range__scale--dotted(type="range", min="0", max="100", value="91", disabled)
                li.range__item
                  p.range__name Innovate
                  input.range__scale.range__scale--dotted(type="range", min="0", max="100", value="50", disabled)
                li.range__item
                  p.range__name Communication
                  input.range__scale.range__scale--dotted(type="range", min="0", max="100", value="91", disabled)
        .cv__column
          section.cv__section.cv__section--education
            h2.title.title--education Education
            ul.list
              li.list__item
                .list__header
                  p.list__header-title.list__header-title--blue Master Degree
                  p.list__header-date // Feb 2011 - Jun 2014
                .list__content
                  p.list__content-title University Name
                  p.list__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    | natoque penatibus et magnis dis parturient montes, nascetur
                    | ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              li.list__item
                .list__header
                  p.list__header-title.list__header-title--blue Master Degree
                  p.list__header-date // Feb 2011 - Jun 2014
                .list__content
                  p.list__content-title University Name
                  p.list__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    | natoque penatibus et magnis dis parturient montes, nascetur
                    | ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              li.list__item
                .list__header
                  p.list__header-title.list__header-title--blue Master Degree
                  p.list__header-date // Feb 2011 - Jun 2014
                .list__content
                  p.list__content-title University Name
                  p.list__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    | natoque penatibus et magnis dis parturient montes, nascetur
                    | ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              li.list__item
                .list__header
                  p.list__header-title.list__header-title--blue Master Degree
                  p.list__header-date // Feb 2011 - Jun 2014
                .list__content
                  p.list__content-title University Name
                  p.list__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    | natoque penatibus et magnis dis parturient montes, nascetur
                    | ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
          section.cv__section.cv__section--experience
            h2.title.title--experience Experience
            ul.list.list--experience
              li.list__item
                .list__header
                  p.list__header-title Company Name
                  p.list__header-date // Feb 2011 - Jun 2014
                .list__content
                  p.list__content-title Your Job Here
                  p.list__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    | natoque penatibus et magnis dis parturient montes, nascetur
                    | ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              li.list__item
                .list__header
                  p.list__header-title Company Name
                  p.list__header-date // Feb 2011 - Jun 2014
                .list__content
                  p.list__content-title Your Job Here
                  p.list__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    | natoque penatibus et magnis dis parturient montes, nascetur
                    | ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              li.list__item
                .list__header
                  p.list__header-title Company Name
                  p.list__header-date // Feb 2011 - Jun 2014
                .list__content
                  p.list__content-title Your Job Here
                  p.list__content-text
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                    | natoque penatibus et magnis dis parturient montes, nascetur
                    | ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
          section.cv__section.software
            h2.title.title--software Software
            .range
              ul.range__list.range__list--two-columns
                li.range__item.range__item--column.range__item--align-left
                  p.range__name Photoshop
                  input.range__scale(type="range", min="0", max="100", value="90", disabled)
                li.range__item.range__item--column.range__item--align-left
                  p.range__name Dreamweaver
                  input.range__scale(type="range", min="0", max="100", value="83", disabled)
                li.range__item.range__item--column.range__item--align-left
                  p.range__name Illustrator
                  input.range__scale(type="range", min="0", max="100", value="70", disabled)
                li.range__item.range__item--column.range__item--align-left
                  p.range__name After Effects
                  input.range__scale(type="range", min="0", max="100", value="60", disabled)
                li.range__item.range__item--column.range__item--align-left
                  p.range__name Indesign
                  input.range__scale(type="range", min="0", max="100", value="57", disabled)
                li.range__item.range__item--column.range__item--align-left
                  p.range__name HTML&amp;CSS3
                  input.range__scale(type="range", min="0", max="100", value="90", disabled)
