.contact__table {
  display: table;
  width: 100%;
}

.contact__column {
  display: table-column;
  width: 30%;
}

.contact__row {
  display: table-row;
}

.contact__cell {
  display: table-cell;
  padding-top: 35px;
  vertical-align: middle;
}

.contact__type {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-blue;
}

.contact__value {
  font-size: 25px;
}
