.cv {
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $width-desktop) {
    font-size: 18px;
    line-height: 22px;
  }
}

.cv__container {
  min-width: $width-mobile;
  padding: 60px 20px 42px 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    padding: 80px 30px 52px 30px;
  }

  @media (min-width: $width-tablet-large) {
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    padding: 95px 40px 62px 40px;
  }
}

.cv__column {
  flex-shrink: 0;

  @media (min-width: $width-tablet-large) {
    &:first-child {
      width: 37%;
    }

    &:last-child {
      width: 56.3%;
    }
  }
}

.cv__section {
  margin: 0 0 92px 0;
  padding: 0;
  border-top: 4px solid $color-blue;

  &--noheader {
    border-top: none;
  }

  &--profile {
    text-align: justify;
    margin-bottom: 100px;
  }

  &--education {
    margin-top: 3px;
    margin-bottom: 106px;
  }

  &--experience {
    margin-bottom: 106px;
  }

  @media (min-width: $width-desktop) {
    border-top: 6px solid $color-blue;

    &--noheader {
      border-top: none;
    }

    &--profile {
      text-align: left;
      padding-right: 17px;
    }
  }
}
