.cv {
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 18px;
}

.cv__container {
  min-width: $width-mobile;
  padding: 60px 20px 42px 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    padding: 80px 30px 52px 30px;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-between;
    max-width: $width-desktop;
    padding: 100px 40px 62px 40px;
  }
}

.cv__column {
  flex-shrink: 0;

  @media (min-width: $width-desktop) {
    &:first-child {
      width: 37%;
    }

    &:last-child {
      width: 56.3%;
    }
  }
}

.cv__section {
  margin: 0 0 92px 0;
  padding: 0;
  border-top: 5px solid $color-blue;

  &--noheader {
    border-top: none;
  }
}
