$name-size: 67px;
$surname-size: 74px;
$prof-size: 29px;

.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding-top: 287px;
  margin-bottom: 133px;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 242px;
    height: 242px;
    background-color: $color-blue;
    border-radius: 50%;
    box-shadow:
      0 0 0 18px $color-white,
      0 0 0 19px $color-blue;
  }

  @media (min-width: $width-desktop) {
    margin-left: 23px;
  }
}

.intro__name {
  margin: 2px 0;
  padding: 0;

  @include calc-font($name-size, $scale-tablet);

  @media (min-width: $width-desktop) {
    @include calc-font($name-size);
  }
}

.intro__surname {
  margin: 0;
  padding: 0;
  font-weight: bold;

  @include calc-font($surname-size, $scale-tablet);

  @media (min-width: $width-desktop) {
    @include calc-font($surname-size);
  }
}

.intro__profession {
  margin: 3px 0;
  padding: 0;
  font-weight: bold;

  @include calc-font($prof-size, $scale-tablet);

  @media (min-width: $width-desktop) {
    @include calc-font($prof-size);
  }
}
