.range__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  &--two-columns {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 8px;
  }
}

.range__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;

  &--column {
    box-sizing: border-box;
    width: 44.5%;
  }

  &--align-left {
    align-items: flex-start;
  }
}

.range__name {
  font-size: 31px;
  text-transform: uppercase;
  margin: 25px 0 4px 0;
}

.range__scale {
  position: relative;
  margin: auto;
  appearance: none;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 27px;
  margin-top: 12px;
  margin-bottom: 2px;

  &--dotted {
    height: 24px;
  }

  &--dotted::before {
    position: absolute;
    height: 30px;
    width: 100%;
    content: "";
    background-image: url("../img/dot-pattern.svg");
    background-size: 33px 40px;
    background-position: -5px -8px;
    background-repeat: repeat-x;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    border: none;
    width: 0;
    height: 27px;
    box-shadow: -100vw 0 0 100vw $color-blue;
  }

  &::-webkit-slider-runnable-track {
    background: $color-gray;
  }
}
