$font-size: 31px;

.range__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 16px 0 0 0;

  &--two-columns {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 8px;
  }
}

.range__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 78%;

  &--column {
    box-sizing: border-box;
    width: 44.5%;
  }

  &--align-left {
    align-items: flex-start;
  }
}

.range__name {
  text-transform: uppercase;
  margin: 18px 0 4px 0;

  @include calc-font($font-size, $scale-mobile);

  @media (min-width: $width-tablet) {
    @include calc-font($font-size, $scale-tablet);
  }

  @media (min-width: $width-desktop) {
    @include calc-font($font-size);
  }
}

.range__wrapper {
  position: relative;
  width: 100%;
  height: 23px;
  margin-top: 14px;
  margin-bottom: 10px;

  &--dotted {
    width: 95%;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  &--dotted::before {
    position: absolute;
    height: 23px;
    width: 100%;
    content: "";
    background-image: radial-gradient(circle at 50% 50%, transparent, transparent 38%, white 38%);
    background-size: 8.43% 23px;
    background-position: -0.8% 50%;
    background-repeat: repeat-x;
    z-index: 1;
  }

  @media (min-width: $width-tablet-large) {
    &--dotted::before {
      background-image: radial-gradient(circle at 50% 46%, transparent, transparent 50%, white 50%);
    }
  }

  @media (min-width: $width-desktop) {
    height: 27px;

    &--dotted {
      width: 100%;
    }

    &--dotted::before {
      height: 27px;
      background-size: 8.43% 27px;
    }
  }
}

.range__scale {
  margin: auto;
  appearance: none;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 23px;

  /* stylelint-disable */
  &::range-thumb {
    appearance: none;
    border: none;
    width: 0;
    height: 27px;
    box-shadow: -100vw 0 0 100vw $color-blue;
  }

  &::range-track {
    background: $color-gray;
  }
  /* stylelint-enable */

  &::-ms-track {
    color: transparent;
    height: 40px;
    border: none;
  }

  @media (min-width: $width-desktop) {
    height: 27px;
  }
}
