$education-bg-w: 60px;
$education-bg-h: 55px;

$profile-bg-w: 40px;
$profile-bg-h: 35px;

$experience-bg-w: 57px;
$experience-bg-h: 52px;

$skills-bg-w: 57px;
$skills-bg-h: 52px;

$scale: 0.8;

@mixin calc-bg-size($width, $height, $scale: 1) {
  background-size:
    calc(#{$width} * #{$scale}),
    calc(#{$height} * #{$scale});
}

@mixin calc-icon-size($scale: 1) {
  $size: calc(78px * #{$scale});
  width: $size;
  height: $size;
}

@mixin calc-padding($scale: 1) {
  padding: 0 calc(10px * #{$scale}) 0 calc(102px * #{$scale});
}

.title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 38px;
  margin: -22px 0 12px 0;
  color: $color-blue;
  background-color: $color-white;

  @include calc-padding($scale);

  &::before {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    content: "";
    border-radius: 50%;
    background-color: $color-blue;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:
      0 0 0 4px $color-white,
      0 0 0 5px $color-blue;

    @include calc-icon-size($scale);
  }

  &--profile::before {
    background-image: url("../img/profile-icon.svg");

    @include calc-bg-size($profile-bg-w, $profile-bg-h, $scale);
  }

  &--skills::before {
    background-image: url("../img/skills-icon.svg");

    @include calc-bg-size($skills-bg-w, $skills-bg-h, $scale);
  }

  &--experience::before {
    background-image: url("../img/experience-icon.svg");

    @include calc-bg-size($education-bg-w, $education-bg-h, $scale);
  }

  &--education::before {
    background-image: url("../img/education-icon.svg");

    @include calc-bg-size($experience-bg-w, $experience-bg-h, $scale);
  }

  @media (min-width: $width-desktop) {
    font-size: 49px;
    line-height: 57px;
    margin: -34px 0 12px 0;

    @include calc-padding();

    &--education {
      padding-left: 112px;
      padding-right: 12px;
    }

    &--experience,
    &--software {
      padding-left: 112px;
      padding-right: 5px;
    }

    &::before {
      @include calc-icon-size();
    }

    &--profile::before {
      @include calc-bg-size($profile-bg-w, $profile-bg-h);
    }

    &--skills::before {
      @include calc-bg-size($skills-bg-w, $skills-bg-h);
    }

    &--education::before {
      top: 35px;

      @include calc-bg-size($education-bg-w, $education-bg-h);
    }

    &--experience::before {
      @include calc-bg-size($experience-bg-w, $experience-bg-h);
    }
  }
}
