.title {
  position: relative;
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  color: $color-blue;
  padding: 0 10px 0 62px;
  margin: -70px 0 15px 0;
  background-color: $color-white;

  &::before {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    width: 54px;
    height: 52px;
    content: "";
    border-radius: 50%;
    background-color: $color-blue;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--profile::before {
    background-image: url("../img/profile-icon.svg");
  }

  &--skills::before {
    background-image: url("../img/skills-icon.svg");
  }

  @media (min-width: $width-tablet) {
    font-size: 49px;
    padding: 0 10px 0 102px;

    &::before {
      width: 79.2px;
      height: 78px;

      box-shadow:
        0 0 0 4px $color-white,
        0 0 0 5px $color-blue;
    }

    &--profile::before {
      background-size: 40px 35px;
    }

    &--skills::before {
      background-size: 57px 52px;
    }
  }
}
