$max-width: 1426px;
$width-desktop: 1300px;
$width-tablet-large: 1000px;
$width-tablet: 768px;
$width-mobile: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-blue: #3f6fb6;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #e6e6e6;

@mixin calc-font($font-size, $scale: 1) {
  $size: calc(#{$font-size} * #{$scale});
  font-size: $size;
  line-height: $size;
}

@mixin calc-size($width, $scale: 1) {
  $size: calc(#{$width} * #{$scale});
  width: $size;
  height: $size;
}
