$width-desktop: 1426px;
$width-tablet: 768px;
$width-mobile: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-blue: #3f6fb6;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #e6e6e6;
